services:
  - type: web
    name: library-assistant-api
    runtime: python
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn -w 2 -b 0.0.0.0:$PORT app:app
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.5
      - key: GEMINI_API_KEY
        sync: false
      - key: FCM_PROJECT_ID
        sync: false
      - key: GOOGLE_APPLICATION_CREDENTIALS
        value: /opt/render/project/src/backend/service_account.json
